<div class="contanctTainer">
            <div class="row" style="margin-top: 40px;">
                  <div class="col-md-8">
				
				
				           <div class="main-inner">
				
				                     <div class="main-content">
									 
									  <div class="section tabber">

                    <div class="timetable-nav">
                        <ul class="clearfix">

                            
                                <li class="active" id="tab-timetable">
                                    <a routerLink="/timetable1">
                                        Timetable
                                    </a>
                                </li>
                            

                            

                            

                            
                            <li id="tab-route"><a routerLink="/routes1">
                                        
                                            Route info
                                        
                                    </a></li>
                            
                        </ul>
                    </div>

                    

                    <div class="tab generictext timetable" id="timetables">
                        

                        
                            

                        
                            <div class="timetablewrapper directionbits">

                                <div class="daycontainer" style="display:none">
                                    <h3>Select your day of travel</h3>

                                    <ul class="day-switcher selectbox">
                                        <li class="blank">Choose day</li>
                                        <li><a href="" data-timetable-type="current" data-day-id="1" data-route="1060" class="day-selector">Mondays to Fridays</a></li><li><a href="" data-timetable-type="current" data-day-id="2" data-route="1060" class="day-selector">Saturdays</a></li><li><a href="" data-timetable-type="current" data-day-id="13" data-route="1060" class="day-selector">Sundays and Bank Holidays</a></li>
                                     </ul>
                                </div>

                                <div class="directioncontainer" style='display:none' >
                                    <h3>Select your direction of travel</h3>
                                    <ul class="direction-switcher selectbox">
                                        <li class="blank">Choose direction</li>
                                    </ul>
                                </div>

                                <p class="instruction" style="display:none">Drag the table to view more</p>

                                <div class="loading" style='display:none'></div>
                                <div class="timetablehook" style="display:none"></div>
                            </div>
                        

                    </div>
                    

                    

                    

                    
                    <div class="tab route generictext fixie">

                        <div class="section generictext">
	<table cellspacing="0" border="0" cellpadding="0" style="border-collapse: collapse; width: 431pt;" width="574">
 <colgroup><col style="width: 431pt;" width="574">
 </colgroup><tbody><tr style="height: 15.75pt;">
  <td class="xl64" style="height: 15.75pt; width: 431pt;">Service
  5  City Centre - Billacombe - Elburton
  - Billacombe - Devonport - Saltash</td>
 </tr>
 <tr style="height: 15.0pt;">
  <td class="xl65" style="height: 15.0pt;"> </td>
 </tr>
 <tr style="height: 225.0pt;">
  <td class="xl66" style="height: 225.0pt; width: 431pt;">From Royal Parade via St Andrews
  Cross Roundabout, Exeter Street Viaduct, Charles Cross Roundabout, Exeter
  Street, Cattedown Roundabout, Embankment Road, Laira Bridge Road, Billacombe
  Road, Stentaway Road, Church Road, Dean Cross Road, Dean Hill [Plymstock Broadway opp Fire Station],
  Furzehatt Road, Dolphin Court Road, Dunstone Drive, Stanborough Road,
  Elburton Road, Elburton Roundabout, Springfield Road
  [Elburton Village opp Methodist Church], Reservoir
  Road, Wembury Road,  Staddiscombe Road,
  Goosewell Road, Holmwood Avenue, Goosewell Road, Furzehatt Road, Dean Hill [Plymstock Broadway Fire Station],
  Dean Cross Road, Church Road, Stentaway Road, Billacombe Road, Laira Bridge
  Road, Embankment Road, Cattedown Roundabout, Exeter Street, Charles Cross
  Roundaobut, Exeter Street Viaduct and St Andrews Cross Roundabout to Royal Parade, Derrys Cross
  Roundabout, Union Street, Stonehouse Bridge, Devonport Hill, Cumberland Road,
  Chapel Street, Park Avenue, Albert Road, Keyham Road, Saltash Road, Wolseley
  Road, St Budeaux Square, Pemros Road, Tamar Bridge, Fore Street, St Stephens
  Road, Long Park Road and Church Road to Church
  Road, Cornwall College</td>
 </tr>
 <tr style="height: 15.0pt;">
  <td class="xl63" style="height: 15.0pt; width: 431pt;"> </td>
 </tr>
 <tr style="height: 15.75pt;">
  <td class="xl67" style="height: 15.75pt;">Service 5A Saltash -
  Devonport - City Centre - Oreston - Staddiscombe</td>
 </tr>
 <tr style="height: 15.0pt;">
  <td class="xl68" style="height: 15.0pt;"> </td>
 </tr>
 <tr style="height: 225.0pt;">
  <td class="xl69" style="height: 225.0pt; width: 431pt;">From Church Road, Cornwall College via
  Church Road, Callington Road, Liskeard Road, Fairmead Road, Oaklands Drive,
  Castlemead Drive, Church Road, Long Park Road, St Stephens Road, Fore Street,
  Tamar Bridge, Pemros Road, St Budeaux Square, Wolseley Road, Saltash Road,
  Keyham Road, Albert Road, Park Avenue, Chapel Street, Cumberland Road,
  Devonport Hill, Stonehouse Bridge, Union Street, Derrys Cross Roundabout, Royal Parade, St Andrews Cross
  Roundabout, Exeter Street Viaduct, Charles Cross Roundabout, Exeter Street,
  Cattedown Roundabout, Embankment Road, Laira Bridge Road, Billacombe Road,
  Pomphlett Road, Oreston Road, Plymstock Road, Dean Hill [Plymstock Broadway opp Fire Station],
  Furzehatt Road, Goosewell Road, Holmwood Avenue, Goosewell Road, Staddiscombe
  Road, Wembury Road, Reservoir Road, Springfield Road [Elburton Village Methodist Church],
  Elburton Roundabout, Stanborough Road, Dunstone Drive, Dolphin Court Road,
  Furzehatt Road, Dean Hill [Plymstock Broadway Fire
  Station], Dean Cross Road, Pomphlett Road,
  Billacombe Road, Laira Bridge Road, Embankment Road, Cattedown Roundabout,
  Exeter Street, Charles Cross Roundaobut, Exeter Street Viaduct and St Andrews
  Cross Roundabout to Royal Parade.</td>
 </tr>
 <tr style="height: 15.0pt;">
  <td class="xl70" style="height: 15.0pt; width: 431pt;"> </td>
 </tr>
 <tr style="height: 15.75pt;">
  <td class="xl67" style="height: 15.75pt;">Service 5A Staddiscombe -
  Elburton - Oreston - City Centre</td>
 </tr>
 <tr style="height: 15.0pt;">
  <td class="xl68" style="height: 15.0pt;"> </td>
 </tr>
 <tr style="height: 90.0pt;">
  <td class="xl69" style="height: 90.0pt; width: 431pt;">From Springfield Road [Elburton Village Methodist Church] via
  Elburton Roundabout, Stanborough Road, Dunstone Drive, Dolphin Court Road,
  Furzehatt Road, Dean Hill [Plymstock Broadway Fire
  Station], Plymstock Road, Oreston Road, Pomphlett
  Road, Billacombe Road, Laira Bridge Road, Embankment Road, Cattedown
  Roundabout, Exeter Street, Charles Cross Roundaobut, Exeter Street Viaduct
  and St Andrews Cross Roundabout to Royal Parade.</td>
 </tr></tbody></table>
</div>


             <a href="https://assets.goaheadbus.com/media/timetable_pdf/5_AW2_080818_AH_PCITYBUS-18-4986_NETWORK_CHANGE_TIME_TABLES_SEPT_2018.pdf" class="download">
                                Download 5/5A Timetable Here
                            </a>
                                   

                        

                    </div>
                    
                </div>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
                                     </div>
                           </div>
				   </div>
			</div>	   

</div>