<div class="contanctTainer">
            <div class="row" style="margin-top: 40px;">
                  <div class="col-md-8">
				
				
				           <div class="main-inner">
				
				                     <div class="main-content">
									 
									  <div class="section tabber">

                    <div class="timetable-nav">
                        <ul class="clearfix">

                            
                                <li class="active" id="tab-timetable">
                                    <a routerLink="/timetable1">
                                        Timetable
                                    </a>
                                </li>
                            

                            

                            

                            
                            <li id="tab-route"><a routerLink="/routes1">
                                        
                                            Route info
                                        
                                    </a></li>
                            
                        </ul>
                    </div>

                    

                    <div class="tab generictext timetable" id="timetables">
                        

                        
                            

  <div class="timetablewrapper directionbits">

                                <div class="daycontainer" style="display">
                                    <h3>Select your day of travel</h3>

                                    <ul class="day-switcher selectbox">
                                        <li class="blank">Choose day</li>
                                        <li><a href="" data-timetable-type="current" data-day-id="1" data-route="1060" class="day-selector">Mondays to Fridays</a></li><li><a href="" data-timetable-type="current" data-day-id="2" data-route="1060" class="day-selector">Saturdays</a></li><li><a href="" data-timetable-type="current" data-day-id="13" data-route="1060" class="day-selector">Sundays and Bank Holidays</a></li>
                                     </ul>
                                </div>

                                <div class="directioncontainer" style='display' >
                                    <h3>Select your direction of travel</h3>
                                    <ul class="direction-switcher selectbox">
                                        <li class="blank">Choose direction</li>
                                    </ul>
                                </div>
                  


             <a href="https://assets.goaheadbus.com/media/timetable_pdf/5_AW2_080818_AH_PCITYBUS-18-4986_NETWORK_CHANGE_TIME_TABLES_SEPT_2018.pdf" class="download">
                                Download 5/5A Timetable Here
                            </a>
                                   

                        

                    </div>
                    
                </div>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
                           </div>
				   </div>
			</div>	   

</div>