 <div class="contanctTainer">
            <div class="row" style="margin-top: 40px;">
                <div class="col-md-8">
				
				
				<div class="main-inner">
				
				 <div class="main-content">

            

               <div id="results"></div>

            

                


    
                 <div class="section route-option">
		
                        <div class="route-name">
                                  <h2 class="clearfix">M1 "ΝΟΣΟΚΟΜΕΙΟ-ΑΓ.ΚΩΝ/ΝΟΣ"</h2>
                
                                    <ul class="iconstrip clearfix" >
					
                                       <a><i class="fas fa-wheelchair fa-2x"></i></a> 
                                      <a><i class="fas fa-baby-carriage fa-2x"></i></a> 
                                      <a><i class="fas fa-university fa-2x"></i></a>
					                                 <a><i class="far fa-hospital fa-2x"></i></a>
					                           </ul>
                        </div>
            
                
            
            
                          <p>ΝΟΣΟΚΟΜΕΙΟ προς ΚΤΕΛ-ΠΑΝΕΠΙΤΗΜΙΟ-ΕΡΓΑΤΙΚΕΣ ΡΗΓΑΝΑ-ΚΕΝΤΡΟ-ΑΓ.ΚΩΝ/ΝΟ</p>
            
                          <ul class="clearfix">
                                    <li><a routerLink="/timetable1" class="plus">Timetable</a></li>
                
                
                
                                   <li><a routerLink="/routes1" class="plus">
                          
                                             Route info
                          
                                 </a></li>
                
                            </ul>
                   </div>
    
                 
                 <div class="section route-option">
    
                        <div class="route-name">
                                  <h2 class="clearfix">M1 "ΝΟΣΟΚΟΜΕΙΟ-ΑΓ.ΚΩΝ/ΝΟΣ"</h2>
                
                                    <ul class="iconstrip clearfix" >
          
                                       <a><i class="fas fa-wheelchair fa-2x"></i></a> 
                                      <a><i class="fas fa-baby-carriage fa-2x"></i></a> 
                                      <a><i class="fas fa-university fa-2x"></i></a>
                                           <a><i class="far fa-hospital fa-2x"></i></a>
                                     </ul>
                        </div>
            
                
            
            
                          <p>ΝΟΣΟΚΟΜΕΙΟ προς ΚΤΕΛ-ΠΑΝΕΠΙΤΗΜΙΟ-ΕΡΓΑΤΙΚΕΣ ΡΗΓΑΝΑ-ΚΕΝΤΡΟ-ΑΓ.ΚΩΝ/ΝΟ</p>
            
                          <ul class="clearfix">
                                    <li><a routerLink="/timetable1" class="plus">Timetable</a></li>
                
                
                
                                   <li><a routerLink="/routes1" class="plus">
                          
                                             Route info
                          
                                 </a></li>
                
                            </ul>
                   </div>
    
    



<div class="section clearfix">
    <p class="route-option-info">If any of the following icons are shown next to the route number, they are available on the service.</p>
    
        <div class="route-option-col span_1_of_6">
            <div class="iconkey">
                <div class="route-icon wheelchair"><a><i class="fas fa-wheelchair fa-2x"></i></a><span> </span><span>Wheelchair access</span></div>
             </div>
        </div>
    
           <div class="route-option-col span_1_of_6">
               <div class="iconkey">
                  <div class="route-icon buggy"><a><i class="fas fa-baby-carriage fa-2x"></i></a><span> </span><span>Buggy access</span></div>
               </div>
           </div>
    
            <div class="route-option-col span_1_of_6">
                <div class="iconkey">
                     <div class="route-icon school"><a><i class="fas fa-school fa-2x"></i></a><span> </span><span>School route</span></div>
                </div>
            </div>
    
                <div class="route-option-col span_1_of_6">
                   <div class="iconkey">
                      <div class="route-icon university"><a><i class="fas fa-university fa-2x"></i></a><span> </span><span>University route</span></div>
                   </div>
                </div>
    
               <div class="route-option-col span_1_of_6">
                       <div class="iconkey">
                          <div class="route-icon hospital"><a><i class="far fa-hospital fa-2x"></i></a><span> </span><span>Hospital route</span></div>
                      </div>
               </div>
    
              <div class="route-option-col span_1_of_6">
                       <div class="iconkey">
                           <div class="route-icon railway"><span>Rail</span></div>
                       </div>
               </div>
    
             <div class="route-option-col span_1_of_6">
                         <div class="iconkey">
                             <div class="route-icon wifi"><span>WiFi Connectivity</span></div>
                             </div>
                         </div>
    
            <div class="route-option-col span_1_of_6">
                      <div class="iconkey">
                             <div class="route-icon usb"><span>USB Access</span></div>
                             </div>
                      </div>
    
           <div class="route-option-col span_1_of_6">
                           <div class="iconkey">
                              <div class="route-icon bike"><span>Bicycle friendly</span></div>
                              </div>
                           </div>
    
          <div class="route-option-col span_1_of_6">
                               <div class="iconkey">
                                      <div class="route-icon electric"><span>Electric socket</span></div>
                                      </div>
                                </div>
    
           <div class="route-option-col span_1_of_6">
                               <div class="iconkey">
                                    <div class="route-icon talkingbus"><span>Talking bus</span></div>
                               </div>
           </div>
     
            <div class="route-option-col span_1_of_6">
                            <div class="iconkey">
                                <div class="route-icon contactlesspayment"><span>Contactless payment</span></div>
           </div>
</div>
</div>
</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				</div>
				
				</div>
				 <div class="col-md-4">
				 <div class="inner">
        
        <div class="timetables-box-wrapper">
                       <a class="download" href="https://www.agrinionews.gr/ta-chimerina-dromologia-tou-astikou-ktel-agriniou-2/">
  <a><i class="fas fa-download fa-2x"></i></a>Download our network map
  
</a>
                          
			<div class="plugin_twitter">
                       <h2>Twitter</h2>
                        <a class="twitter-timeline" data-lang="el" data-width="500" data-height="800" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/sport24radio?ref_src=twsrc%5Etfw">Tweets by agriniobus</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

 
       </div>

    </div>
				 
				 
				 </div>
			</div>	
				
			
</div>

