<div class="container">
<div class="collapse-group">
  <div class="controls">
    <button  data-toggle="collapse" aria-expanded="false"  data-target=".panel-collapse.collapse" >
      Open all
    </button>
  <button  data-toggle="collapse" data-target=".show">
      Close all
    </button>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"  class="trigger collapsed">
          Πως μπορώ να μάθω αν έχει βρεθεί κάτι που έχω χάσει;
        </a>
      </h4>
    </div>
    
    <div id="collapseOne"   class="panel-collapse collapse"  role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae dolorum, soluta temporibus vero perferendis quo odit eaque cum fugiat nihil earum error vitae libero nostrum sed ipsam, beatae ea.
      </div>
    </div>
 
  </div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="trigger collapsed">
          Πως μπορώ να μάθω αν έχει βρεθεί κάτι που έχω χάσει;
        </a>
      </h4>
    </div>
    
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpane1" aria-labelledby="headingTwo">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae dolorum, soluta temporibus vero perferendis quo odit eaque cum fugiat nihil earum error vitae libero nostrum sed ipsam, beatae ea.
      </div>
    </div>
   
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="trigger collapsed">
          Πως μπορώ να μάθω αν έχει βρεθεί κάτι που έχω χάσει;
        </a>
      </h4>
    </div>
    
    <div id="collapseThree"  class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae dolorum, soluta temporibus vero perferendis quo odit eaque cum fugiat nihil earum error vitae libero nostrum sed ipsam, beatae ea.
      </div>
    </div>
  
  </div>


  


</div>
</div>



