<div class="container">
<div class="t1">
 
  <h2 class="table1">ΑΣΤΙΚΟ ΚΤΕΛ ΑΓΡΙΝΙΟΥ Α.Ε.</h2>
  <table class="table">
    <thead>
      <tr>
        
        <th class="table-active" colspan=3>ΖΩΝΕΣ ΕΙΣΗΤΗΡΙΩΝ ΑΝΑ ΓΡΑΜΜΗ-ΥΠΑΙΘΡΟΣ</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
         <tr>
            <td rowspan=3>ΝΕΑΠΟΛΗ-ΣΤΡΑΤΟΣ-ΟΧΘΙΑ-ΛΕΠΕΝΟΥ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ ΠΕΖΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ ΠΕΖΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ ΕΩΣ ΔΙΑΣΤΑΥΡΩΣΗ ΟΧΘΙΩΝ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΔΙΑΣΤΑΥΡΩΣΗ ΟΧΘΙΩΝ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        
        </tr> 
           
      <tr>
        <tr>
            <td rowspan=1>Μ.ΧΩΡΑ</td>
            <td colspan=3>
                <div>ΟΛΗ Η ΓΡΑΜΜΗ ΕΝΤΟΣ Α' ΖΩΝΗΣ</div>
            </td>
        </tr>
      
      <tr>
         <tr>
            <td rowspan=1>ΕΛΑΙΟΦΥΤΟ</td>
            <td colspan=3>
                <div>ΟΛΗ Η ΓΡΑΜΜΗ ΕΝΤΟΣ Α' ΖΩΝΗΣ</div>
            </td>
        </tr>
     
      <tr>
         <tr>
            <td rowspan=3>ΝΕΑΠΟΛΗ-ΣΠΟΛΑΙΤΑ-ΜΑΤΣΟΥΚΙ-ΚΑΣΤΡΑΚΙ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ ΠΕΖΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ ΠΕΧΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ ΕΩΣ ΓΕΦΥΡΑ ΑΧΕΛΩΟΥ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΓΕΦΥΡΑ ΑΧΕΛΩΟΥ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
        
      <tr>
         <tr>
            <td rowspan=3>ΚΑΛΥΒΙΑ-ΑΓ.ΓΕΩΡΓΙΟΣ-ΑΓΓΕΛΟΚΑΣΤΡΟ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ ΔΙΑΣΤΑΥΡΩΣΗ ΣΤΡΑΤ.ΑΕΡΟΔΡΟΜΙΟΥ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ ΔΙΑΣΤΑΥΡΩΣΗ ΣΤΡΑΤ.ΑΕΡΟΔΡΟΜΙΟΥ ΕΩΣ ΚΑΙ ΚΑΛΥΒΙΑ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΣΤΑΘΜΟ ΑΓΓΕΛΟΚΑΣΤΡΟΥ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
     
       <tr>
         <tr>
            <td rowspan=4>ΠΑΝΑΙΤΩΛΙΟ-ΚΑΙΝΟΥΡΙΟ-ΠΑΡΑΒΟΛΑ-ΠΑΝΤΑΝΑΣΣΑ-ΜΥΡΤΙΑ</td>
            <td colspan=4>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=4>
                <div>Β' ΖΩΝΗ ΑΠΟ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ ΕΩΣ ΚΑΙ ΟΙΚΙΣΜΟΣ ΠΛΑΤΑΝΙΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=4>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΠΑΝΤΑΝΑΣΣΑ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
         <tr>
            <td class="table-success" colspan=4>
                <div>*ΕΚΠΤΩΣΗ ΣΤΟ ΟΛΟΚΛΗΡΟ ΕΙΣΗΤΗΡΙΟ,0.80&euro; ΜΕΧΡΙ ΕΡΜΙΤΣΑ ΚΑΙ 1.20Ε ΜΕΧΡΙ ΚΑΙ ΑΜΠΑΡΙΑ ΠΑΝΑΙΤΩΛΙΟΥ</div>
            </td>
        </tr>
      
      <tr>
         <tr>
            <td rowspan=3>Ν.ΑΒΟΡΑΝΗ-ΚΑΙΝΟΥΡΓΙΟ-ΠΑΡΑΒΟΛΑ-ΠΑΝΤΑΝΑΣΣΑ-ΜΥΡΤΙΑ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ 2Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ 2Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ ΕΩΣ ΟΙΚΙΣΜΟΣ ΠΑΛΑΤΑΝΙΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΠΑΝΤΑΝΑΣΣΑ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
     
      <tr>
         <tr>
            <td rowspan=3>ΚΑΜΑΡΟΥΛΑ-ΑΓ.ΝΙΚΟΛΑΟΣ-ΛΙΑΓΚΕΪΚΑ-ΡΑΪΝΕΣ-ΠΟΤΑΜΟΥΛΑ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ ΟΝΕΙΡΟ CLUB</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ ΟΝΕΙΡΟ CLUB ΕΩΣ ΔΙΑΣΤΑΥΡΩΣΗ ΣΚΟΥΤΕΣΙΑΔΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΔΙΑΣΤΑΥΡΩΣΗ ΣΚΟΥΤΕΣΙΑΔΑΣ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
     
      <tr>
         <tr>
            <td rowspan=4>ΖΕΥΓΑΡΑΚΙ-ΠΑΠΑΔΑΤΕΣ-ΜΑΤΑΡΑΓΚΑ-ΓΡΑΜΜΑΤΙΚΟΥ-ΓΑΒΑΛΟΥ-ΑΓ.ΑΝΔΡΕΑΣ</td>
            <td colspan=4>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=4>
                <div>Β' ΖΩΝΗ ΑΠΟ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ ΕΩΣ ΚΑΙ ΠΑΠΑΔΑΤΕΣ(ΕΠΑΛ)</div>
            </td>
        </tr>
        <tr>
            <td colspan=4>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΜΑΤΑΡΑΓΚΑ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
         <tr>
            <td class="table-success" colspan=4>
                <div>*ΕΚΠΤΩΣΗ ΣΤΟ ΟΛΟΚΛΗΡΟ ΕΙΣΗΤΗΡΙΟ,0.80&euro; ΜΕΧΡΙ ΕΡΜΙΤΣΑ</div>
            </td>
        </tr>
      
      <tr>
         <tr>
            <td rowspan=3>ΚΛΕΙΣΟΡΕΜΑΤΑ-ΛΥΣΜΑΧΕΙΑ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ 1Η ΓΕΦΥΡΑ ΕΡΜΙΤΣΑΣ ΕΩΣ ΚΑΙ ΚΛΕΙΣΟΡΕΜΑΤΑ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΤΕΛΗ ΟΙΚΙΣΜΟΥ ΚΛΕΙΣΟΡΕΜΑΤΑ ΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
      
      <tr>
         <tr>
            <td rowspan=3>ΝΕΑΠΟΛΗ-ΣΤΡΑΤΟΣ-ΟΧΘΙΑ-ΓΟΥΡΓΙΩΤΙΣΣΑ-ΡΙΓΑΝΗ</td>
            <td colspan=3>
                <div>Α' ΖΩΝΗ ΑΠΟ ΑΦΕΤΗΡΙΑ ΕΩΣ ΠΕΖΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Β' ΖΩΝΗ ΑΠΟ ΠΕΖΟΓΕΦΥΡΑ ΖΑΠΑΝΤΙ ΕΩΣ ΔΙΑΣΤΑΥΡΩΣΗ ΟΧΘΙΩΝ</div>
            </td>
        </tr>
        <tr>
            <td colspan=3>
                <div>Γ' ΖΩΝΗ ΑΠΟ ΔΙΑΣΤΑΥΡΩΣΗ ΟΧΘΙΩΝΕΩΣ ΤΕΡΜΑ</div>
            </td>
        </tr>
        
      
     
    </tbody>
  </table>
  </div>
  <div class="row">
  <div class="col-md-6">
  <table class="table">
    <thead>
     
        <th class="table-active"  colspan=6>ΤΙΜΕΣ ΕΙΣΗΤΗΡΙΩΝ ΥΠΕΘΡΟΥ</th>
        
    </thead>
    <tbody>
        <tr>
            <td class="table-primary" rowspan=1>2.20&euro;</td>
            <td>
                <div>ΟΛΟΚΛΗΡΟ Γ'ΖΩΝΗΣ</div>
            </td>
            <td class="table-success">1.50&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 25% Γ'ΖΩΝΗΣ</td>
            <td class="table-warning">1.10&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 50% Γ'ΖΩΝΗΣ</td>
        </tr>
         <tr>
            <td class="table-success" rowspan=1>1.50&euro;</td>
            <td>
                <div>ΟΛΟΚΛΗΡΟ Β'ΖΩΝΗΣ</div>
            </td>
            <td class="table13">1.20&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 25% Β'ΖΩΝΗΣ</td>
            <td class="table12">0.80&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 50% Β'ΖΩΝΗΣ</td>
        </tr>
        <tr>
            <td class="table13" rowspan=1>1.20&euro;</td>
            <td>
                <div>ΟΛΟΚΛΗΡΟ Α'ΖΩΝΗΣ</div>
            </td>
            <td class="table12">0.80&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 25% Α'ΖΩΝΗΣ</td>
            <td class="table11">0.60&euro;</td>
            <td>ΜΕΙΩΜΕΝΟ 50% Α'ΖΩΝΗΣ</td>
        </tr>
    </tbody>
</table>
  
  </div>
  <div class="col-md-6">
  <table class="table">
    <thead>
     
        <th class="table-active"  colspan=6>ΤΙΜΕΣ ΕΙΣΗΤΗΡΙΩΝ ΠΟΛΗΣ ΑΓΡΙΝΙΟΥ</th>
        
    </thead>
    <tbody>
        <tr>
            <td class="table12" rowspan=1>0.80&euro;</td>
            <td>
                <div>ΟΛΟΚΛΗΡΟ Μ1' ΝΟΣΟΣΚΟΜΕΙΟ-ΑΓ.ΚΩΝ/ΝΟΣ,ΟΛΟΚΛΗΡΟ Μ2' ΔΟΚΙΜΙ-ΑΓ.ΧΡΙΣΤΟΦΟΡΟΣ</div>
            </td>
            
        </tr>
         <tr>
            <td class="table11" rowspan=1>0.60&euro;</td>
            <td>
                <div>ΜΕΙΩΜΕΝΟ Μ1' ΝΟΣΟΣΚΟΜΕΙΟ-ΑΓ.ΚΩΝ/ΝΟΣ,ΜΕΙΩΜΕΝΟ Μ2' ΔΟΚΙΜΙ-ΑΓ.ΧΡΙΣΤΟΦΟΡΟΣ</div>
            </td>
           
          </tr>
        
    </tbody>
</table>
  
  </div>
  </div>
</div>
