<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="logo">
		<a routerLink="/" class="col-xs-3 visible-xs" id="main-logo-xs"><h1>Agrinio Bus</h1></a>
		</div>
    <div class="left">
   
		<div class="banner-links">
          <ul>
		   <li class="contact_social">
                <a routerLink="/contactus"><h3>Contact us</h3></a>
           </li>

           <li class="social_icons">
			    <a href="https://twitter.com/sport24?lang=el" class="twitter" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
			</li>
							
			<li class="social_icons">
		    	<a href="https://www.facebook.com/SPORT24/" class="facebook" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
			</li>



		</ul>


       
</div>

  <button type="button" class="btn btn-primary"><i class="fas fa-language fa-2x"></i></button>

</div>

    </div>